/*--------ABOUT--------*/
.about {
  margin: auto;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: white;
}

.about__wrapper {
  width: 80%;
  height: 90%;
  margin: auto;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
  -ms-align-items: center;
  align-items: center;
}

.about__image {
  width: 45%;
  height: 85%;
  margin-top: 1.5%;
  -webkit-background-size: cover;
  background-size: cover;
  overflow: hidden;
  overflow: hidden;
}

.about__image img {
  max-width: 100%;
  -moz-transition: all 0.4s;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.about__image img:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  cursor: pointer;
}

.about__text {
  width: 40%;
  margin-top: auto;
  margin-bottom: auto;
  text-align: justify;
}

/* Small screens - MOBILE */

/* max-width 640px, mobile-only styles, orientation: portrait */
@media only screen and (max-width: 40em) and (orientation: portrait) {
  .about {
    height: auto;
    margin: 10% auto;
  }
  .about__wrapper {
    width: 90%;
    height: 90%;
  }

  .about__image {
    display: none;
  }

  .about__text {
    width: 100%;
    margin-bottom: auto;
    text-align: left;
  }
}

/* max-width 640px, mobile-only styles, orientation: landscape */
@media only screen and (max-width: 40em) and (orientation: landscape) {
  .about {
    height: auto;
    margin: 10% auto;
  }
  .about__wrapper {
    width: 90%;
    height: 90%;
  }

  .about__image {
    display: none;
  }

  .about__text {
    width: 100%;
    margin-bottom: auto;
    text-align: left;
  }
}

/* Medium screens - TABLET */

/* min-width 641px and max-width 1024px, orientation: portrait */
@media only screen and (min-width: 40.063em) and (max-width: 64em) and (orientation: portrait) {
  .about {
    height: auto;
    margin-bottom: 5%;
  }
  .about__wrapper {
    width: 90%;
    height: 90%;
  }

  .about__image {
    display: none;
  }

  .about__text {
    width: 100%;
    margin-bottom: auto;
  }
  .about__title {
    text-align: center;
  }
}

/* min-width 641px and max-width 1024px, orientation: landscape */
@media only screen and (min-width: 40.063em) and (max-width: 64em) and (orientation: landscape) {
  .about {
    height: auto;
    margin: 5% auto;
  }
  .about__wrapper {
    width: 90%;
    height: 90%;
  }

  .about__image {
    display: none;
  }

  .about__text {
    width: 100%;
    margin-bottom: auto;
    text-align: left;
  }
  .about__title {
    text-align: center;
  }
}

/* Large screens - DESKTOP */
/* min-width 1025px, large screens */

/* min-width 1024px and max-width 1440px, use when QAing large screen-only issues */
@media only screen and (min-width: 64.063em) and (max-width: 90em) {
  .about {
    height: calc(100vh - 100px);
  }
  .about__wrapper {
    width: 80%;
    height: 80%;
  }

  .about__image {
    width: 50%;
    height: 100%;
    margin-top: 5%;
  }

  .about__text {
    width: 45%;
    margin-top: 2%;
    margin-bottom: auto;
    font-size: 0.93em;
  }
}

/* XLarge screens */

/* min-width 1441px and max-width 1920px, use when QAing xlarge screen-only issues */
@media only screen and (min-width: 90.063em) and (max-width: 120em) {
  .about {
    height: calc(100vh - 100px);
  }
  .about__wrapper {
    width: 80%;
    height: 90%;
  }

  .about__image {
    width: 45%;
    height: 100%;
    margin-top: 5%;
  }

  .about__text {
    width: 40%;
    margin-top: auto;
    margin-bottom: auto;
  }
}

/* XXLarge screens */
/* min-width 1921px, xlarge screens */
@media only screen and (min-width: 120.063em) {
  .about {
    height: calc(100vh - 100px);
  }
  .about__wrapper {
    width: 80%;
    height: 90%;
  }

  .about__image {
    width: 45%;
    height: 100%;
    margin-top: 5%;
  }

  .about__text {
    width: 40%;
    margin-top: auto;
    margin-bottom: auto;
  }
}

/* iPad Pro Portrait */
@media only screen and (device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (device-width: 1024px) and (orientation: portrait) and (-o-min-device-pixel-ratio: 3/2),
  only screen and (device-width: 1024px) and (orientation: portrait) and (min__moz-device-pixel-ratio: 1.5),
  only screen and (device-width: 1024px) and (orientation: portrait) and (min-device-pixel-ratio: 1.5) {
  .about {
    height: auto;
    margin-bottom: 5%;
  }
  .about__wrapper {
    width: 90%;
    height: 90%;
  }

  .about__image {
    display: none;
  }

  .about__text {
    width: 100%;
    margin-bottom: auto;
  }

  .about__title {
    text-align: center;
  }
}

/* iPad Pro Landscape */
@media only screen and (device-width: 1366px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (device-width: 1366px) and (orientation: landscape) and (-o-min-device-pixel-ratio: 3/2),
  only screen and (device-width: 1366px) and (orientation: landscape) and (min__moz-device-pixel-ratio: 1.5),
  only screen and (device-width: 1366px) and (orientation: landscape) and (min-device-pixel-ratio: 1.5) {
  .about {
    height: auto;
    margin-bottom: 5%;
  }
  .about__wrapper {
    width: 90%;
    height: 90%;
  }

  .about__image {
    width: 45%;
    height: 100%;
  }

  .about__text {
    width: 45%;
    margin-top: 5%;
    margin-bottom: auto;
  }
}
