.intro {
  position: relative;
  width: 100%;
  background-color: white;
  font-family: 'IntroRust';
}

.intro__image {
  overflow: hidden;
  -webkit-background-size: cover;
  background-size: cover;
}

.intro__text {
  position: absolute;
  color: white;
  background-color: transparent;
  text-align: center;
}

.intro__title:hover,
.intro__subtitle:hover {
  cursor: pointer;
}

/* Small screens - MOBILE */

/* max-width 640px, mobile-only styles, orientation: portrait */
@media only screen and (max-width: 40em) and (orientation: portrait) {
  .intro {
    width: 100%;
    margin-top: 70px;
    height: calc(100vh - 70px);
  }

  .intro__image {
    width: 100%;
    height: 100%;
  }

  .intro__text {
    width: 90%;
    left: 5%;
    margin: auto;
    top: 35%;
  }

  .intro__title {
    font-size: 2em;
    margin-bottom: 0.5em;
  }

  .intro__subtitle {
    font-size: 1.1em;
  }
}

/* max-width 640px, mobile-only styles, orientation: landscape */
@media only screen and (max-width: 40em) and (orientation: landscape) {
  .intro {
    width: 100%;
    margin-top: 70px;
    height: calc(100vh - 70px);
  }

  .intro__image {
    width: 90%;
    height: 90%;
    margin: 3.5% 5%;
  }

  .intro__text {
    width: 80%;
    left: 10%;

    position: absolute;
    top: 40%;
  }

  .intro__title {
    font-size: 2em;
  }

  .intro__subtitle {
    font-size: 1.2em;
  }
}

/* Medium screens - TABLET */

/* min-width 641px and max-width 1024px, orientation: portrait */
@media only screen and (min-width: 40.063em) and (max-width: 64em) and (orientation: portrait) {
  .intro {
    width: 100%;
    margin-top: 65px;
    height: calc(100vh - 65px);
  }

  .intro {
    margin-top: 100px;
    height: calc(100vh - 100px);
  }

  .intro__image {
    width: 90%;
    height: 90%;
    margin: 6% 5%;
  }

  .intro__text {
    width: 80%;
    left: 10%;
    margin: auto;
    top: 40%;
  }

  .intro__title {
    font-size: 3.5em;
  }

  .intro__subtitle {
    font-size: 1.8em;
  }
}

/* min-width 641px and max-width 1024px, orientation: landscape */
@media only screen and (min-width: 40.063em) and (max-width: 64em) and (orientation: landscape) {
  .intro {
    width: 100%;
    margin-top: 70px;
    height: calc(100vh - 70px);
  }

  .intro__image {
    width: 90%;
    height: 90%;
    margin: 3.5% 5%;
  }

  .intro__text {
    width: 80%;
    left: 10%;

    position: absolute;
    top: 40%;
  }

  .intro__title {
    font-size: 3.5em;
  }

  .intro__subtitle {
    font-size: 1.8em;
  }
}

/* Large screens - DESKTOP */
/* min-width 1025px, large screens */

/* min-width 1024px and max-width 1440px, use when QAing large screen-only issues */
@media only screen and (min-width: 64.063em) and (max-width: 89.9em) {
  .intro {
    margin-top: 100px;
    height: calc(100vh - 100px);
  }

  .intro__image {
    width: 90%;
    height: 80%;
    margin: 5.3% 5%;
  }

  .intro__text {
    width: 50%;
    left: 25%;
    margin: auto;
    top: 40%;
  }

  .intro__title {
    font-size: 3.5em;
  }

  .intro__subtitle {
    font-size: 1.8em;
  }
}

/* XLarge screens */

/* min-width 1441px and max-width 1920px, use when QAing xlarge screen-only issues */
@media only screen and (min-width: 90em) and (max-width: 120em) {
  .intro {
    margin-top: 100px;
    height: calc(100vh - 100px);
  }

  .intro__image {
    width: 80%;
    height: 80%;
    margin: 4.5% 10%;
  }

  .intro__text {
    width: 50%;
    left: 25%;
    margin: auto;
    top: 40%;
  }

  .intro__title {
    font-size: 4em;
  }

  .intro__subtitle {
    font-size: 2em;
  }
}

/* XXLarge screens */
/* min-width 1921px, xlarge screens */
@media only screen and (min-width: 120.063em) {
  .intro {
    margin-top: 100px;
    height: calc(100vh - 100px);
  }

  .intro__image {
    width: 80%;
    height: 80%;
    margin: 4.5% 10%;
  }

  .intro__text {
    width: 50%;
    left: 25%;
    margin: auto;
    top: 40%;
  }

  .intro__title {
    font-size: 4em;
  }

  .intro__subtitle {
    font-size: 2em;
  }
}

/* iPad Pro Portrait */
@media only screen and (device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (device-width: 1024px) and (orientation: portrait) and (-o-min-device-pixel-ratio: 3/2),
  only screen and (device-width: 1024px) and (orientation: portrait) and (min__moz-device-pixel-ratio: 1.5),
  only screen and (device-width: 1024px) and (orientation: portrait) and (min-device-pixel-ratio: 1.5) {
  .intro {
    width: 100%;
    margin-top: 100px;
    height: calc(100vh - 100px);
  }

  .intro__image {
    width: 90%;
    height: 90%;
    margin: 6% 5%;
  }

  .intro__text {
    width: 80%;
    left: 10%;
    margin: auto;
    top: 40%;
  }

  .intro__title {
    font-size: 4em;
  }

  .intro__subtitle {
    font-size: 2em;
  }
}

/* iPad Pro Landscape */
@media only screen and (device-width: 1366px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (device-width: 1366px) and (orientation: landscape) and (-o-min-device-pixel-ratio: 3/2),
  only screen and (device-width: 1366px) and (orientation: landscape) and (min__moz-device-pixel-ratio: 1.5),
  only screen and (device-width: 1366px) and (orientation: landscape) and (min-device-pixel-ratio: 1.5) {
  .intro {
    width: 100%;
    margin-top: 100px;
    height: calc(100vh - 65px);
  }

  .intro__image {
    width: 90%;
    height: 80%;
    margin: 5%;
  }

  .intro__text {
    width: 50%;
    left: 25%;
    margin: auto;
    top: 40%;
  }

  .intro__title {
    font-size: 3.5em;
  }

  .intro__subtitle {
    font-size: 1.8em;
  }
}
