.products {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.products__title {
  text-align: center;
  margin-bottom: 1em;
}

.product {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
  width: 100%;
  -ms-align-items: center;
  align-items: center;
  margin-bottom: 5%;
}

.product__image {
  width: 45%;
  height: 50vh;
  -webkit-background-size: cover;
  background-size: cover;
  transition: all 0.4s ease-in-out;
}

.product__image:hover {
  -moz-transform: scale(1.05);
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

.product__description,
.product__description--left {
  width: 45%;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-align-self: center;
  align-self: center;
  text-align: center;
}

/* Small screens - MOBILE */

/* max-width 640px, mobile-only styles, orientation: portrait */
@media only screen and (max-width: 40em) and (orientation: portrait) {
  .products__title {
    text-align: left;
    margin-bottom: 0;
  }
  .product__image {
    display: none;
  }

  .product__description {
    width: 100%;
    text-align: left;
  }

  .product__description--left {
    width: 100%;
    text-align: left;
  }
}

/* max-width 640px, mobile-only styles, orientation: landscape */
@media only screen and (max-width: 40em) and (orientation: landscape) {
  .products__title {
    text-align: left;
    margin-bottom: 0;
  }
  .product__image {
    display: none;
  }

  .product__description {
    width: 100%;
    text-align: left;
  }

  .product__description--left {
    width: 100%;
    text-align: left;
  }
}

/* Medium screens - TABLET */

/* min-width 641px and max-width 1024px, orientation: portrait */
@media only screen and (min-width: 40.063em) and (max-width: 64em) and (orientation: portrait) {
  .products__title {
    text-align: left;
    margin-bottom: 0;
  }
  .product__image {
    display: none;
  }

  .product__description {
    width: 100%;
    text-align: left;
  }

  .product__description--left {
    width: 100%;
    text-align: left;
  }
}

/* min-width 641px and max-width 1024px, orientation: landscape */
@media only screen and (min-width: 40.063em) and (max-width: 64em) and (orientation: landscape) {
  .product__image {
    width: 45%;
    height: 50vh;
  }

  .product__description {
    width: 50%;
    text-align: left;
    line-height: 1.25;
    font-size: 0.85em;
  }

  .product__description--left {
    width: 50%;
    text-align: right;
    ine-height: 1.25;
    font-size: 0.95em;
  }
}

/* Large screens - DESKTOP */
/* min-width 1025px, large screens */

/* min-width 1024px and max-width 1440px, use when QAing large screen-only issues */
@media only screen and (min-width: 64.063em) and (max-width: 90em) {
  .product__image {
    width: 45%;
    height: 50vh;
  }

  .product__description {
    width: 45%;
    text-align: left;
  }

  .product__description--left {
    width: 45%;
    text-align: right;
  }
}

/* XLarge screens */

/* min-width 1441px and max-width 1920px, use when QAing xlarge screen-only issues */
@media only screen and (min-width: 90.063em) and (max-width: 120em) {
  .product__image {
    width: 45%;
    height: 40vh;
  }

  .product__description {
    width: 45%;
    text-align: left;
  }

  .product__description--left {
    width: 45%;
    text-align: right;
  }
}

/* XXLarge screens */
/* min-width 1921px, xlarge screens */
@media only screen and (min-width: 120.063em) {
  .product__image {
    width: 45%;
    height: 40vh;
  }

  .product__description {
    width: 45%;
    text-align: left;
  }

  .product__description--left {
    width: 45%;
    text-align: right;
  }
}

/* iPad Pro Portrait */
@media only screen and (device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (device-width: 1024px) and (orientation: portrait) and (-o-min-device-pixel-ratio: 3/2),
  only screen and (device-width: 1024px) and (orientation: portrait) and (min__moz-device-pixel-ratio: 1.5),
  only screen and (device-width: 1024px) and (orientation: portrait) and (min-device-pixel-ratio: 1.5) {
  .products__title {
    text-align: left;
    margin-bottom: 0;
  }
  .product__image {
    display: none;
  }

  .product__description {
    width: 100%;
    text-align: left;
  }

  .product__description--left {
    width: 100%;
    text-align: left;
  }
}

/* iPad Pro Landscape */
@media only screen and (device-width: 1366px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (device-width: 1366px) and (orientation: landscape) and (-o-min-device-pixel-ratio: 3/2),
  only screen and (device-width: 1366px) and (orientation: landscape) and (min__moz-device-pixel-ratio: 1.5),
  only screen and (device-width: 1366px) and (orientation: landscape) and (min-device-pixel-ratio: 1.5) {
  .product__image {
    width: 45%;
    height: 40vh;
  }

  .product__description {
    width: 45%;
    text-align: left;
  }

  .product__description--left {
    width: 45%;
    text-align: right;
  }
}
