@import './sections/intro.css';
@import './sections/about.css';
@import './sections/products.css';
@import './sections/media.css';
@import './sections/contacts.css';
@import './sections/elements.css';

.page__wrapper {
  width: 80%;
  margin: auto;
}

/* Small screens - MOBILE */

/* max-width 640px, mobile-only styles, orientation: portrait */
@media only screen and (max-width: 40em) and (orientation: portrait) {
  .page__wrapper {
    width: 90%;
  }
}

/* max-width 640px, mobile-only styles, orientation: landscape */
@media only screen and (max-width: 40em) and (orientation: landscape) {
  .page__wrapper {
    width: 90%;
  }
}

/* Medium screens - TABLET */

/* min-width 641px and max-width 1024px, orientation: portrait */
@media only screen and (min-width: 40.063em) and (max-width: 64em) and (orientation: portrait) {
  .page__wrapper {
    width: 90%;
  }
}

/* min-width 641px and max-width 1024px, orientation: landscape */
@media only screen and (min-width: 40.063em) and (max-width: 64em) and (orientation: landscape) {
  .page__wrapper {
    width: 90%;
  }
}

/* Large screens - DESKTOP */
/* min-width 1025px, large screens */

/* min-width 1024px and max-width 1440px, use when QAing large screen-only issues */
@media only screen and (min-width: 64.063em) and (max-width: 89.9em) {
  .page__wrapper {
    width: 90%;
  }
}

/* XLarge screens */

/* min-width 1441px and max-width 1920px, use when QAing xlarge screen-only issues */
@media only screen and (min-width: 90em) and (max-width: 120em) {
  .page__wrapper {
    width: 80%;
  }
}

/* XXLarge screens */
/* min-width 1921px, xlarge screens */
@media only screen and (min-width: 120.063em) {
  .page__wrapper {
    width: 80%;
  }
}

/* iPad Pro Portrait */
@media only screen and (device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (device-width: 1024px) and (orientation: portrait) and (-o-min-device-pixel-ratio: 3/2),
  only screen and (device-width: 1024px) and (orientation: portrait) and (min__moz-device-pixel-ratio: 1.5),
  only screen and (device-width: 1024px) and (orientation: portrait) and (min-device-pixel-ratio: 1.5) {
  .page__wrapper {
    width: 90%;
  }
}

/* iPad Pro Landscape */
@media only screen and (device-width: 1366px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (device-width: 1366px) and (orientation: landscape) and (-o-min-device-pixel-ratio: 3/2),
  only screen and (device-width: 1366px) and (orientation: landscape) and (min__moz-device-pixel-ratio: 1.5),
  only screen and (device-width: 1366px) and (orientation: landscape) and (min-device-pixel-ratio: 1.5) {
  .page__wrapper {
    width: 90%;
  }
}
